.icon-white {
    color: whitesmoke;
    opacity: 0.2;
}

.icon-white:hover {
    opacity: 1;
}

.loader {
    width: 100%;
    margin: 20% 45%;
}

.center-content :only-child{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2% 0 2% 0;
}

.login-form {
    width: 40%;
    margin: 0 auto;
}

.login-submit-button {
    width: 100%;
}

.green {
    color: green;
}

.red {
    color: red;
}

.icon-profile {
    -webkit-transition: color 1s;
}

.icon-profile:hover {
    color: white
}

.comment-border {
    margin: 2% auto;
    width: 80%;
}

.comment-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1%;
}

.comment-user {
    font-size: 16px;
}

.comment-date {
    opacity: 0.7;
}

.comment-rate {
    margin-top: 1%;
    margin-bottom: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 3%;
}

.MuiCardContent-root:first-child:not(:last-child){
    background: #3F51B5;
    color: white;
}

.comment-message {
    margin-top: 4%;
    opacity: 0.7;
}

.red-rate {
    color: #F15078;
    font-size: 16px;
    padding: 1%;
}

.green-rate {
    color: #15B996;
    font-size: 16px;
}

.space {
    margin-top: 2%;
}

.m-r-2 {
    margin-right: 8px;
    display: inline-block;
}

.f-job {
    margin: 0 20%;
    
}

.f-job div {
    margin-top: 8px;
}

.w-2 {
    width: 20%;
}

.d-n {
    display: none;
}

.modal {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.678);
}

.modal-content {
    background-color: white;
    width: 40%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.w-b {
    margin-bottom: 10%;
}

.w-m {
    margin-top: 10% !important;
    margin-left: 10%;
    margin-right: 10%;
}

.disabled{
    display: none;
}